<!-- Navigation -->
<nav class="main-nav sb-c">
  <a href="/"
    ><img src="./img/photo_camera_FILL0_wght400_GRAD0_opsz48.svg" alt="logo"
  /></a>
  <a href="login">Login <img src="" alt="" /></a>
</nav>
