<nav class="primary-nav ai-c">
  <form class="primary-nav__search ai-c">
    <button class="btn-gray" aria-label="Filter results" data-filter-btn="">
      <img src="img/filter-list.svg" alt="filter results icon" />
    </button>

    <div class="primary-nav__search-bar ai-c">
      <button aria-label="Search button" type="submit">
        <img src="img/search-icon.svg" alt="search icon" />
      </button>
      <input type="text" />
    </div>
  </form>
  <ul class="primary-nav__menu menu" data-nav-menu>
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <% if(authenticated) { %>
    <li><a href="profile">Profile</a></li>
    <li><a href="logout" data-logout-btn="">Logout</a></li>
    <% } %>
    <!-- prittier-ignore -->
    <% if(!authenticated) { %>
    <li><a href="login">Login</a></li>
    <li><a href="register">Register</a></li>
    <% } %>
  </ul>
  <button
    class="btn-gray primary-nav__menu-btn"
    aria-label="Menu"
    data-nav-menu-btn
  >
    <img src="img/hamburger-menu.svg" alt="hamburger menu icon" />
  </button>
</nav>

<ul class="filter-menu menu jc-c" data-filter-menu="">
  <li class="jc-c"><button>Popularity</button></li>
  <li class="jc-c">
    <button>Price <img src="/img/arrow_upward.svg" alt="" /></button>
  </li>
  <li class="jc-c">
    <button>Price <img src="/img/arrow_downward.svg" alt="" /></button>
  </li>
  <li class="jc-c">
    <button>Added <img src="/img/arrow_upward.svg" alt="" /></button>
  </li>
  <li class="jc-c">
    <button>Added <img src="/img/arrow_downward.svg" alt="" /></button>
  </li>
</ul>

<div class="menu-space" data-nav-menu-space></div>
