<nav class="primary-nav ai-c">
  <form class="primary-nav__search ai-c">
    <button class="btn-gray" aria-label="Filter results">
      <img src="img/filter-list.svg" alt="filter results icon" />
    </button>

    <div class="primary-nav__search-bar ai-c">
      <button aria-label="Search button">
        <img src="img/search-icon.svg" alt="search icon" />
      </button>
      <input type="text" />
    </div>
  </form>
  <ul class="primary-nav__menu" data-nav-menu>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="register">Register</a></li>
  </ul>
  <button
    class="btn-gray primary-nav__menu-btn"
    aria-label="Menu"
    data-nav-menu-btn
  >
    <img src="img/hamburger-menu.svg" alt="hamburger menu icon" />
  </button>
</nav>
<div class="menu-space" data-nav-menu-space></div>
