<!-- Search Form -->
<div class="search-form sb-c">
  <form action="submit" class="sm-gap">
    <input type="text" class="input" />
    <button class="btn">
      <img src="./img/search_white_24dp.svg" alt="search" />
    </button>
  </form>

  <!-- Filter -->
  <button class="btn">
    <img src="./img/filter_list_white_24dp.svg" alt="filter" />
  </button>
</div>
