<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <%- include('partials/navigation')%>

      <header>
        <h1 class="text-c">About</h1>
      </header>

      <main class="b-margin-top">
        <p class="limiter">
          This website is for artists photographers and customers who want to
          sell or buy high quality photos and digital art. Photos not only show
          what is on them, but also have a story behind it, that you can
          explore. And our mission is to give you that and also help creators to
          reach many people and to help get them to get the founds so they can
          make their dreams come true. I hope that this website can give you
          that and even more, and I want to continue developing it, so it can be
          only better. Have a great experience 😁.
        </p>
        <!-- prettier-ignore -->
        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
      </main>
    </div>
  </body>
</html>
