<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="css/account.css" />
    <link rel="stylesheet" href="css/content.css" />
  </head>

  <body>
    <%- include('partials/nav') %>

    <div class="container">
      <header class="b-gap">
        <h1>Hello Steven 👋</h1>
        <button class="btn" id="upload-btn">Upload picture</button>
      </header>

      <section>
        <h3>Your pictures</h3>
        <div class="content xb-gap">
          <article class="md-gap">
            <!-- Photo Cover -->
            <div class="photo-display"><p>12/08/22</p></div>
            <!-- Description -->
            <div class="md-gap description">
              <h2>House in the central park</h2>
              <p>
                Photo shows an amazing park that is near the bigest church in
                Europe and was built in ...
              </p>
              <!-- Action Menu -->
              <div class="options">
                <p>Open</p>
                <p>10$</p>
                <p>Add to cart</p>
              </div>
            </div>
          </article>

          <article class="md-gap">
            <!-- Photo Cover -->
            <div class="photo-display"><p>12/08/22</p></div>
            <!-- Description -->
            <div class="md-gap description">
              <h2>House in the central park</h2>
              <p>
                Photo shows an amazing park that is near the bigest church in
                Europe and was built in ...
              </p>
              <!-- Action Menu -->
              <div class="options">
                <p>Open</p>
                <p>10$</p>
                <p>Add to cart</p>
              </div>
            </div>
          </article>
        </div>
      </section>
    </div>

    <div class="upload hide" id="upload-popup">
      <div class="container">
        <div class="b-gap">
          <h4 class="green-accent">Upload</h4>
          <form action="" class="md-gap" id="login-form">
            <div>
              <label for="title">title</label>
              <input type="text" class="input" id="title" />
            </div>
            <div>
              <label for="description">description</label>
              <textarea
                name="description"
                id="description"
                cols="30"
                rows="5"
                class="textarea"
              ></textarea>
            </div>
            <input type="file" />
            <button class="btn">Upload</button>
          </form>
        </div>
        <button class="btn return-btn" id="return-btn">
          <img src="/img/return_white_24dp.svg" alt="return" />
        </button>
      </div>
    </div>

    <div class="push"></div>

    <%- include('partials/footer') %>
  </body>
</html>
