<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navigation')%>
      <form class="main-form" data-change-password-form="">
        <div class="ver-spacer">
          <div>
            <label for="old-password">Old password</label>
            <input type="password" id="old-password" required />
          </div>

          <div>
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" required />
          </div>

          <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" required />
          </div>
        </div>

        <button class="btn-accent b-margin-top" type="submit">Change</button>
      </form>
      <!-- prettier-ignore -->
      <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
    </div>
  </body>
</html>
