<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <nav class="primary-nav ai-c">
        <form class="primary-nav__search ai-c">
          <button class="btn-gray" aria-label="Filter results">
            <img src="img/filter-list.svg" alt="filter results icon" />
          </button>

          <div class="primary-nav__search-bar ai-c">
            <button aria-label="Search button">
              <img src="img/search-icon.svg" alt="search icon" />
            </button>
            <input type="text" />
          </div>
        </form>
        <ul class="primary-nav__menu" data-nav-menu>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
        <button class="btn-gray primary-nav__menu-btn" aria-label="Menu" data-nav-menu-btn>
          <img src="img/hamburger-menu.svg" alt="hamburger menu icon" />
        </button>
      </nav>
      <div class="menu-space" data-nav-menu-space></div>
      <main>
        <!-- Articles -->
        <!-- prettier-ignore -->
        <div class="articles-container">
          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
        </div>
        <button class="btn-dark load-more-btn">More</button>
        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
      </main>
    </div>
  </body>
</html>
