<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="home">
    <!-- Header -->
    <header>
      <%- include('partials/nav') %> <%- include('partials/search') %>
    </header>

    <!-- SECTION ITEMS TO BUY -->
    <section class="container content xb-gap">
      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>

      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>

      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>

      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>

      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>

      <!-- Each Item -->
      <article class="md-gap">
        <!-- Photo Cover -->
        <div class="photo-display"><p>12/08/22</p></div>
        <!-- Description -->
        <div class="md-gap description">
          <h2>House in the central park</h2>
          <p>
            Photo shows an amazing park that is near the bigest church in Europe
            and was built in ...
          </p>
          <!-- Action Menu -->
          <div class="options">
            <p>Open</p>
            <p>10$</p>
            <p>Add to cart</p>
          </div>
        </div>
      </article>
    </section>

    <button class="btn btn-more">More</button>
    <%- include('partials/footer') %>
  </body>
</html>
