<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <%- include('partials/navigation')%>
      <main>
        <!-- Articles -->
        <!-- prettier-ignore -->
        <div class="articles-container">
          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h1>Central Park New York City</h1>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <span class="articles-container__highlight">Read more</span></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
        </div>
        <button class="btn-dark load-more-btn">More</button>
        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
      </main>
    </div>
  </body>
</html>
