<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <%- include('partials/navigation')%>
      <form class="main-form" data-login-form="">
        <div class="ver-spacer">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" />
          </div>

          <div>
            <label for="password">Password</label>
            <input type="password" id="password" />
          </div>

          <a href="#">Forgot Password</a>
        </div>

        <button class="btn-accent b-margin-top" type="submit">Login</button>
      </form>
      <!-- prettier-ignore -->
      <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
    </div>
  </body>
</html>
