<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->
      <%- include('partials/navigation')%>

      <header>
        <h1 class="text-c">Hello John 👋</h1>
      </header>

      <a href="upload" class="btn-dark b-margin-top text-c upload-btn">Upload</a>
      
      <main >
        <h3 class="profile-section-indicetor gray-accent ">Your Photos</h3>
        <!-- Articles -->
        <!-- prettier-ignore -->
        <div class="articles-container grid">
          <div class="grid-col grid-col--1"></div>
          <div class="grid-col grid-col--2"></div>
          <div class="grid-col grid-col--3"></div>

          <article class="ver-spacer grid-item">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item">
            <img src="img/eiffel-tower.jpg" alt="article photo" loading="lazy">
            <h2>Eiffel Tower Paris</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urb Upper West and  ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
        </div>

        <h3 class="profile-section-indicetor gray-accent">Your Purchases</h3>

        <div class="articles-container grid-additional">
          <div class="grid-col-additional grid-col--1"></div>
          <div class="grid-col-additional grid-col--2"></div>
          <div class="grid-col-additional grid-col--3"></div>

          <article class="ver-spacer grid-item-additional">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item-additional">
            <img src="img/eiffel-tower.jpg" alt="article photo" loading="lazy">
            <h2>Eiffel Tower Paris</h2>
            <p>is an urban park in New York City, between the Upper West and Upper East Sides of Manhattan. It is the fifth largest park in the city, covering 843 acres (341 ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>

          <article class="ver-spacer grid-item-additional">
            <img src="img/IMG_20200922_153646.jpg" alt="article photo" loading="lazy">
            <h2>Central Park New York City</h2>
            <p>is an urb Upper West and  ha) <button class="articles-container__highlight">Read more</button></p>
            <div class="articles-container__article-info separetor"><p>10&#36</p><p>By Tom Greenwood</p><p>22/11/20</p> <p>1920x1080</p></div>
            <button class="btn-gray articles-container__button ai-c">Add <img src="img/shopping-cart.svg" alt="shopping cart"></button>
          </article>
        </div>

        <h3 class="profile-section-indicetor gray-accent">Action Center</h3>
        
        <div class="separetor">
            <button>Reset Password</button>
            <button>Close Account</button>
        </div>

        <a href="#" class="btn-dark checkout-btn ai-c"><span>Checkout</span> <span class="checkout-btn__left-column ai-c"><span>3<span class="green-accent">x</span></span> <span>Total: <span class="green-accent">45$</span></span></span></a>
      </main>
    </div>
  </body>
</html>
