@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* Root */
:root {
  --primary-color-100: #eeeeee;
  --primary-color-300: #c4c4c4;
  --primary-color-600: #767676;
  --primary-color-800: #474747;
  --accent-color-100: #3c9c1b;
  --black: #000;
  --white: #fff;

  --shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25);

  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.375rem;
  --fs-400: 2rem;

  --fw-400: 400;
  --fw-500: 500;

  --br-100: 0.3125rem;
  --br-200: 0.625rem;

  --spacer: 1.25rem;

  --gap-medium: 4.375rem;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  line-height: 1.8;
  margin-bottom: 7rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

ul[class],
ol[class] {
  list-style: none;
}

/* Typography */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

h1,
.h1 {
  font-size: var(--fs-400);
}

h2,
.h2 {
  font-size: var(--fs-300);
}

/* Utility Classes */
.container {
  max-width: 65rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.ver-spacer > * + * {
  margin-top: var(--gap, var(--spacer));
}

.separetor {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--spacer);
}

.b-margin-top {
  margin-top: 4.375rem;
}

.limiter {
  margin-inline: auto;
  max-width: 30rem;
}

.ai-c {
  display: flex;
  align-items: center;
}

[class*="btn-"] {
  background-color: var(--bg, var(--primary-color-800));
  color: var(--fg, var(--white));
  font-weight: var(--fw-500);
  text-decoration: none;
}

[class*="btn-"]:hover,
:focus {
  opacity: 0.9;
}

.btn-gray {
  --bg: var(--primary-color-800);
  padding: 0.2rem 0.5rem;
  border-radius: var(--br-100);
}

.btn-dark {
  --bg: var(--black);
  padding: 0.65rem 1rem;
  border-radius: var(--br-200);
}

.btn-accent {
  --bg: var(--accent-color-100);
  padding: 0.65rem 1rem;
  border-radius: var(--br-200);
}

.green-accent {
  color: var(--accent-color-100);
}

.gray-accent {
  color: var(--primary-color-600);
}

.text-c {
  text-align: center;
}

/* Components */
/* .load-more-btn {
  display: block;
  margin: 3.5rem auto;
  padding: 0.4rem 1.5rem;
} */

.checkout-btn {
  position: fixed;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  max-width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

@media screen and (min-width: 40rem) {
  .checkout-btn {
    right: 1rem;
    transform: translateX(0);
  }
}

.checkout-btn__left-column {
  gap: var(--spacer);
}

.main-form {
  --gap: 1.875rem;
  margin-inline: auto;
  max-width: 30rem;
  padding: 2.5rem;
  border-radius: var(--br-200);
  background-color: var(--black);
  color: var(--white);
}

.main-form a:not([class]) {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main-form input {
  display: block;
  width: 100%;
  padding: 0.35rem 0.5rem;
  border-radius: var(--br-100);
  background-color: var(--white);
}

.main-form input[type="checkbox"] {
  width: auto;
}

.main-form button {
  display: block;
  width: 100%;
  max-width: 12rem;
  margin-inline: auto;
}

.menu {
  width: 100%;
  max-width: 20rem;
  gap: var(--spacer);
  padding: 1rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--br-200);
  font-weight: var(--fw-500);
  text-align: center;
}

/* Navigation */
.primary-nav {
  position: relative;
  padding: 2rem 0;
  gap: var(--spacer);
}

.primary-nav button > img {
  max-width: 30px;
}

.primary-nav__search {
  width: 100%;
  gap: var(--spacer);
}

.primary-nav__search-bar {
  flex: 1;
  padding: 0.1rem 0.35rem;
  background-color: var(--primary-color-100);
  border-radius: 100vw;
  font-size: var(--fs-200);
}

.primary-nav__search-bar input {
  width: 100%;
  padding: 0.35rem 0.5rem;
}

.primary-nav__search-bar input:focus {
  outline: none;
}

.primary-nav__search-bar button {
  cursor: pointer;
}

.primary-nav__search-bar img {
  padding: 0 0.2rem;
}

.primary-nav__menu {
  position: absolute;
  top: 100%;
  left: 50%;
  display: none;
  flex-direction: column;
  transform: translateX(-50%);
}

@media screen and (min-width: 40rem) {
  .primary-nav__menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: max-content;
    max-width: none;
    padding: 0;
    transform: translateX(0);
    background-color: none;
    box-shadow: none;
    border-radius: none;
    text-align: left;
  }
}

.primary-nav__menu.show {
  display: flex;
}

.primary-nav__menu a {
  color: var(--primary-color-800);
  text-decoration: none;
}

.primary-nav__menu a:hover,
:focus {
  opacity: 0.75;
}

.primary-nav__menu-btn {
  display: block;
}

@media screen and (min-width: 40rem) {
  .primary-nav__menu-btn {
    display: none;
  }
}

.menu-space {
  display: none;
  /* menu height plus navigation gap */
  height: 239.2px;
}

.menu-space.show {
  display: block;
}

.filter-menu {
  display: none;
  justify-content: center;
  margin: 0 auto 2rem auto;
}

.filter-menu.show {
  display: grid;
}

.filter-menu li {
  display: flex;
  justify-content: center;
}

.filter-menu img {
  width: 1rem;
  margin-left: 0.5rem;
}

/* Articles */
.articles-container {
  display: flex;
  gap: calc(var(--spacer) * 2);
}

.articles-container > * {
  flex: 1;
}

.grid-col > * + * {
  margin-top: calc(var(--spacer) * 2);
}

.grid-col--1,
.grid-col--2 {
  display: none;
}

@media screen and (min-width: 40rem) {
  .grid-col--1,
  .grid-col--2 {
    display: block;
  }
}

.articles-container__highlight {
  display: block;
  color: var(--primary-color-300);
}

.articles-container__article-info {
  font-size: var(--fs-100);
  font-weight: var(--fw-500);
  color: var(--primary-color-800);
}

.articles-container__button {
  gap: calc(var(--spacer) * 0.75);
}

.articles-container__button img {
  width: 1.25rem;
}

/* Profile Page */
.profile-section-indicetor {
  margin-block: calc(var(--spacer) * 2.5);
}

.upload-btn {
  display: block;
  width: 100%;
  max-width: 18rem;
  margin-inline: auto;
}
